.p-img {
  height: auto;
  width: 100%
}

#event-container {
  background-image: url('/static/Kayak.jpg');
  background-position: center;
  background-size: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  height: 300px;
}

#fund-container {
  background-image: url('/static/advboat.jpg');
  background-position: center;
  background-size: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  height: 300px;
}

.pageEnter {
  display: block;
  margin: 0;
  background-color: rgba(0, 0, 0, .2);
  background-image: url('/static/canoe2.jpg');
  background-position: center;
  background-size: cover;
  width: auto;
  height: 85vh;
}

.pageEnter img {
  height: 30%;
  width: auto;
  margin-left: 10px;
  padding-top: 45px;
  padding-left: 30px;
  margin-bottom: 5px;
  display: block;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pageEnter h1 {
  text-shadow: 2px 2px #000000;
  font-weight: 400;
  font-size: 3.5vw;
  margin-left: 0px;
  padding-top: px;
  padding-left: 40px;
  margin-top: 40vh;
  text-align: left;
  float: left;
  letter-spacing: 5px;
  background: linear-gradient(to right, rgba(115, 176, 181, 0.78), rgba(115, 176, 181, 0.05));
  position: absolute;
}

@media screen and (max-width: 960px) {
  .pageEnter img {
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    padding-top: 10px;
  }
  .pageEnter h1 {
    text-shadow: 2px 2px #000000;
    font-weight: 400;
    font-size: 4.5vw;
    margin-left: 0px;
    padding-top: px;
    padding-left: 20px;
    margin-top: 10vh;
    text-align: left;
    float: left;
    letter-spacing: 2px;
    background: linear-gradient(to right, rgba(115, 176, 181, 0.78), rgba(115, 176, 181, 0.05));
    position: absolute;
  }
  .pageEnter {
    height: 300px;
  }
  .home {
    text-shadow: 2px 2px #000000;
    font-size: 4.0vw;
    color: white;
  }
  .home1 {
    font-size: 4.0vw;
  }
  .home2 {
    font-size: 3.8vw;
    text-align: center;
  }
}

@media screen and (min-width:960px) {
  .home {
    text-shadow: 2px 2px #000000;
    font-size: 2.5vw;
    color: white;
  }
  .home1 {
    font-size: 2.5vw;
  }
  .home2 {
    font-size: 1.9vw;
  }
  .subhome {
    font-size: 1.0vw;
  }
}

@media screen and (max-width: 800px) {
  .pageEnter h1 {
    text-shadow: 2px 2px #000000;
    font-weight: 400;
    font-size: 5.6vw;
    margin-left: 0px;
    padding-top: px;
    padding-left: 20px;
    margin-top: 10vh;
    text-align: left;
    float: left;
    letter-spacing: 2px;
    background: linear-gradient(to right, rgba(115, 176, 181, 0.78), rgba(115, 176, 181, 0.05));
    position: absolute;
  }
  .subhome {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 500px) {
  .pageEnter h1 {
    text-shadow: 2px 2px #000000;
    font-weight: 400;
    font-size: 5.6vw;
    margin-left: 0px;
    padding-top: px;
    padding-left: 20px;
    margin-top: 12vh;
    text-align: left;
    float: left;
    letter-spacing: 2px;
    background: linear-gradient(to right, rgba(115, 176, 181, 0.78), rgba(115, 176, 181, 0.05));
    position: absolute;
  }
  .home {
    text-shadow: 2px 2px #000000;
    font-size: 6.7vw;
    color: white;
  }
  .home1 {
    font-size: 6.0vw;
  }
  .home2 {
    font-size: 5.8vw;
    text-align: center;
  }
  .subhome {
    font-size: 4.0vw;
  }
}

.btn__content {
  padding-right: 3px;
  padding-left: 3px;
}

.resize-btn {
  min-width: 45px;
}
