<template>
  <div id="about">
    <img class="p-img" src="/static/Two-Rivers.jpg" />
    <div class="home1">Two Rivers</div>

    <v-card flat>
      <v-card-title class="layout justify-center">

      </v-card-title>
      <span class="subhome text-xs-left">
A community defined by water where the scenic East & West Twin Rivers meet at a sandy point extending into Lake Michigan. The Native Americans who were the first to settle this beautiful spot called the area “Neshotah” meaning “a junction of two rivers.” The rivers play host to kayakers, fishers, and other recreational enthusiasts in every season.<br>
With refreshing breezes off of Lake Michigan in the summertime, even the hottest days in Two Rivers are comfortable. Cool off at Neshotah Beach, a 50-acre lakefront jewel, with a groomed Lake Michigan beach, concession stand, picnic areas, restrooms and changing facilities. You can splash in the water, or enjoy six miles of unspoiled coast as you head north towards the white sand beaches and dunes of Point Beach State Forest.
The State forest is a 3,000-acre natural wonderland of campgrounds, nature trails (cross-country skiing in winter), beautiful unspoiled beaches, and the scenic Rawley Point Lighthouse.
Explore more nature at Woodland Dunes Nature Center.</span>
      <v-card-actions class="layout justify-center">
        <v-btn class="primary" target="_blank" href="http://www.two-rivers.org/attractions.php">More Information</v-btn>
      </v-card-actions>
    </v-card>
    <img class="p-img" src="/static/Riverfest.jpg" />
    <div class="home1">Mishicot</div>

    <v-card flat>
      <v-card-title class="layout justify-center">
      </v-card-title>
      <span class="subhome text-xs-left">
Mishicot is a friendly little village of some 1,400 people located on the beautiful landscape of Manitowoc County.

Mishicot has a rich history and offers a small town vibe to the visitor. The quiet and relaxed atmosphere is refreshing, and there is much within easy reach of the town. Make Mishicot your place to stay, as well as a place from which to explore the Lakeshore.</span>
      <v-card-actions class="layout justify-center">
        <v-btn class="primary" target="_blank" href="http://www.mishicot.org/">More Information</v-btn>
      </v-card-actions>
    </v-card>    
  </div>
</template>

<script>
  import Sponsors from './Sponsors'
  import Events from './Events'
  export default {
    name: 'About',
    components: {
      Sponsors,
      Events,
    },
    data() {
      return {
        active: null
      }
    }
  }

</script>

<style>
  #about {
    min-height: 55vh;

  }

  .btn__content {
    text-align: center;
  }


</style>
