<template>
  <div id="Ecology">
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <v-carousel id="eco-pics" lazy hide-controls hide-delimiters>
            <v-carousel-item v-for="(item,i) in items" :src="item.src" :key="i"></v-carousel-item>

          </v-carousel>
          <span class="text-xs-right">Photos by Nancy Nabak</span>
        </v-flex>
        <v-flex>

          <v-card-text class="text-xs-left subhome">
            <br />
            <br />The East Twin River and West Twin River have a rich natural history, shaped by ancient glaciers that deposited and moved
            the soil, hundreds of plants, and thousands of species of animals and insects. Notable habitats along the shores
            include mixed hardwood forests, marshes, and sedge (grass-like) meadows, which are extensive along the Mishicot
            River.

            <br />
            <br />Nearly 300 different birds have been sited and recorded along or near the rivers including bald eagles, ospreys,
            sandhill cranes, herons, ducks and geese. During migration periods, 100 species of birds can be seen feeding
            on insects or fish in or near the rivers, which lie within important migratory flyways, including the threatened
            Caspian, Forster's, and common terns. The forests and fields along the shores are home to more than 40 species
            of mammals, including otters, mink, fishers, badgers, coyotes, foxes, and even the occasional black bear. Dozens
            of species of fish inhabit the waters, including smallmouth bass and northern pike.Species such as common carp,
            and chinook and coho salmon were introduced and are commonly seen in fall. Dozens of species of freshwater mussels
            are also present.

            <br />
            <br /> Threats to the health of these rivers results from invasive species and nutrients and other substances present
            in runoff, and it is important to protect them to conserve wildlife and maintain their beauty and recreational
            value. A leisurely paddle is an outstanding way to view the wildlife of the Neshota and Mishicot Rivers, so bring
            binoculars, field guides, a notebook, and camera with you!

          </v-card-text>
          <v-card-actions class="layout Justify-center">
            <v-btn class="primary" target="_blank" href="http://www.woodlanddunes.org/">More Information</v-btn>
          </v-card-actions>

        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {

    name: 'Ecology',
    data() {
      return {
        items: [{
            src: 'static/nature_pics/duck.jpg'
          },
          {
            src: 'static/nature_pics/fawn.jpg'
          },
          {
            src: 'static/nature_pics/frog.jpg'
          },
          {
            src: 'static/nature_pics/moth.jpg'
          },
          {
            src: 'static/nature_pics/heron.jpg'
          },
          {
            src: 'static/nature_pics/mink.jpg'
          },
          {
            src: 'static/nature_pics/muskrat.jpg'
          },
          {
            src: 'static/nature_pics/osprey.jpg'
          },
          {
            src: 'static/nature_pics/sora.jpg'
          }
        ]
      }
    },
    metaInfo: {
      title: 'Ecology of Two Rivers',
      titleTemplate: '%s ← twinriverwatertrail',
      links: [{
        rel: 'canonical',
        href: 'https://www.twinriverswatertrail.org/ecology'
      }]
    }
  }

</script>

<style>
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 800px) {
    #eco-pics {
      max-height: 30vh;
    }
  }

</style>
