<template>
<v-container fluid grid-list-md id="eventView">
  <v-layout row wrap>
    <div class="condition" v-if=currentEvents.length  >
      <v-flex xs12 md4  v-for="currentEvent in currentEvents" :key="currentEvent.id">
        <v-card  class="min-card">
          <v-card-title primary-title class="layout justify-center">
            <h3 class="title ">{{currentEvent.summary}}</h3>
          </v-card-title>
          <v-card-text class="text-xs-left">
            <div>
              <strong>Description: </strong> {{currentEvent.description}}</div>
            <div>
              <strong>Start Date: </strong> {{currentEvent.startDate}}</div>
            <div>
              <strong>Start Time: </strong> {{currentEvent.startTime}}</div>
            <div>
              <strong>End Date: </strong> {{currentEvent.endDate}}</div>
            <div>
              <strong>End Time: </strong> {{currentEvent.endTime}}</div>
            <div>
              <strong>Location: </strong> {{currentEvent.location}}</div>
          </v-card-text>
        </v-card>
      </v-flex>
    </div>
    <div class="condition" id="no-event" v-else>
      <v-flex>

        <v-card-title primary-title class="layout justify-center">No current events.</v-card-title>

      </v-flex>
    </div>
  </v-layout>
</v-container>
</template>

<script>
  export default {
    name: 'Events',
    data() {
      return {
        currentEvents: [],
      }
    },
    mounted() {
      this.getCalendar();
    },
    methods: {
      getCalendar() {
        fetch('https://twinriverswatertrail.org/happy')
          .then((response) => {
            return response.json();
          })
          .then((myJson) => {
            if (myJson.eventExists) {
              this.currentEvents = myJson.Events.map(x => {
                let newEvent = {
                  "id": "",
                  "summary": "",
                  "startDate": "",
                  "startTime": "",
                  "endDate": "",
                  "endTime": ""
                };
                let date = this.formatDate(x.start.dateTime, x.end.dateTime);
                newEvent.id = x.id;
                newEvent.summary = x.summary;
                newEvent.description = x.description;
                newEvent.startDate = date[0];
                newEvent.startTime = date[1];
                newEvent.endDate = date[2];
                newEvent.endTime = date[3];
                newEvent.location = x.location;
                return newEvent;
              });
            }

          })
          .catch((err) => {
            console.log(err)
          });
      },
      formatDate(startDateTime, endDateTime) {
        let splitStartDate = startDateTime.split(['T']);
        let nct = "";
        let net = "";
        let splitEndDate = endDateTime.split(['T']);
        let startDate = splitStartDate[0].split(['-']);
        let endDate = splitEndDate[0].split(['-']);
        let formattedStartDate = `${startDate[1]} / ${startDate[2]} / ${startDate[0]}`;
        let formattedEndDate = `${endDate[1]} / ${endDate[2]} / ${endDate[0]}`;
        let trunStartTime = splitStartDate[1].substring(0, 5);
        let trunEndTime = splitEndDate[1].substring(0, 5);
        // Format starting time
        if (parseFloat(trunStartTime.substring(0,2)) > 12){
          // Greater than 12:00pm
          nct = `${parseFloat(trunStartTime.substring(0,2)) % 12}${trunStartTime.substring(2,5)}pm`
        }else if(parseFloat(trunStartTime.substring(0,2)) == 12) {
          // Equal to 12:00pm
          nct = `${trunStartTime}pm`
        } else if(parseFloat(trunStartTime.substring(0,2)) == 0) {
          // Less than 12:00am
            nct = `12${trunStartTime.substring(2,5)}am`
        }  else if(parseFloat(trunStartTime.substring(0,2)) <12) {
          // Less than 12:00am
          nct = `${trunStartTime}am`
        }
        // Format ending time
        if (parseFloat(trunEndTime.substring(0,2)) > 12){
          // Greater than 12:00pm
          net = `${parseFloat(trunEndTime.substring(0,2)) % 12}${trunEndTime.substring(2,5)}pm`
        }else if(parseFloat(trunEndTime.substring(0,2)) == 12) {
          // Equal to 12:00pm
          net = `${trunEndTime}pm`
        } else if(parseFloat(trunEndTime.substring(0,2)) == 0) {
          // Less than 12:00am
            net = `12${trunEndTime.substring(2,5)}am`
        }  else if(parseFloat(trunEndTime.substring(0,2)) < 12) {
          // Less than 12:00am
          net = `${trunEndTime}am`
        }          
        return [formattedStartDate, nct, formattedEndDate, net];
      }
    }
  }

</script>

<style>
  .condition {
    width: 100%;
    justify-content: center;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
  }
  #eventView{    min-height: 300px;}

</style>
