<template>
  <v-footer height=auto>
    <v-layout row wrap>
      <v-flex xs12>

        <v-card flat tile class="primary white--text text-xs-center">
          <v-card-text>
            <v-btn v-for="icon in icons" :key="icon.img" :href="icon.link" target="_blank" icon class="mx-3 white--text">
              <v-icon size="24px" >{{ icon.img }}</v-icon>
            </v-btn>
          </v-card-text>

          <v-card-text class="white--text">
            &copy;2018 —
            <strong>Twin River Water Trail</strong>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
  export default {
    name: "Footer",
    data() {
      return {
        icons: [{img:'fab fa-facebook',link:"https://www.facebook.com/Woodland-Dunes-Nature-Center-and-Preserve-101537573056/"}, {img:'fab fa-instagram', link:"https://www.instagram.com/explore/locations/1006989406/woodland-dunes-state-natural-area/"}],
        rows: [{
            title: 'Twin River Water Trail',
            children: ['']
          },
          {
            title: 'Products',
            children: ['MDBootstrap', 'MDWordPress', 'BrandFlow', 'Bootstrap Angular']
          },
          {
            title: 'Useful Links',
            children: ['Your account', 'Become an Affiliate', 'Shipping Rates', 'Helper']
          }
        ]
      }
    },
    computed: {
      binding() {
        const binding = {}

        if (this.$vuetify.breakpoint.mdAndUp) binding.column = true

        return binding
      }
    }
  }

</script>
