<template>
  <div id="app">
    <v-app light>
      <v-content>
        <v-container  grid-list-lg>
          <v-layout wrap class="my-5"  justify-space-around :column="isMobile">
            <v-flex xs6 sm4 class="my-3" >
              <v-card class="elevation-0 transparent">
              <div class="text-xs-center">
                <h2 class="home1">Welcome</h2>
                <span class="subhome">
                  The Twin Rivers Water Trail is a community initiated project to bring greater attention to and usage of the East and West
                  Twin Rivers. Citizens of Two Rivers and Mishicot teamed up to develop a series of canoe and kayak launch
                  sites, a water trail map, and other amenities to promote the recreational use and educational opportunities
                  that the two rivers provide.</span>
              </div>
              </v-card>
            </v-flex>
            <v-flex xs6 sm4 class="my-3" >
              <v-card  class="elevation-0 transparent" >
              <div class="text-xs-center">
                <h2 class="home1">Mission Statement</h2>
                <span class="subhome">
                  The Twin Rivers Water Trail promotes the development and safe use of a water trail for human powered watercraft along the
                  East and West Twin Rivers. Spotlight the rich natural habitat and cultural history in and around the rivers
                  and develop further partnerships for projects, maintenance, volunteer opportunities, public events and
                  trail stewardship.
                </span>
              </div>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>

        <section>
          <v-parallax v-if="!isMobile" src="/static/Kayak_Launch_re.jpg" height=300>
            <v-layout column align-center justify-center>
              <h1 class="home white--text">Events</h1>
            </v-layout>
          </v-parallax>
          <div id="event-container" v-else>
            <h1 class="mb-0 home centered-text">Events</h1>
          </div>
          <br />
          <Events></Events>

        </section>
        <section>
          <v-parallax v-if="!isMobile" src="/static/advboat.jpg" height=300>
            <v-layout column align-center justify-center>
              <h1 class="home white--text">Funding</h1>
            </v-layout>
          </v-parallax>
          <div id="fund-container" v-else>
            <v-flex>

              <h1 class="mb-0 home centered-text">Funding</h1>

            </v-flex>
          </div>
          <Sponsors></Sponsors>



        </section>

      </v-content>
    </v-app>
  </div>
</template>

<script>
  import Events from './Events';
  import Sponsors from './Sponsors'

  export default {
    name: 'Home',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App',
        isMobile: false,
      }
    },
    mounted() {
      this.onResize()
      window.addEventListener('resize', this.onResize, {
        passive: true
      })
    },
    beforeDestroy() {
      if (typeof window !== 'undefined') {
        window.removeEventListener('resize', this.onResize, {
          passive: true
        })
      }
    },
    methods: {
      onResize() {
        this.isMobile = window.innerWidth < 800
      }
    },
    components: {
      Events,
      Sponsors,

    },
    metaInfo: {
      links: [{
        rel: 'canonical',
        href: 'https://www.twinriverswatertrail.org/'
      }]
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  parallax__image {
    width: 100%;
    height: auto;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    display: block;
    width: 100%;

  }

  h1,
  h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  section {
    padding-top: 0px;
    padding-bottom: 20px;
  }


</style>
