<template>
  <div>
    <div class="pageEnter">

      <img src="/static/logo.png" alt="logo" />
      <br />
      <h1 class="white--text ">TWIN RIVERS WATER TRAIL</h1>

    </div>
    <v-toolbar class="primary white--text" flat>
      <v-toolbar-title v-if="$route.name!='Home'" xs2>{{$route.name}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn class="white--text" xs2 to="/" flat>Home</v-btn>
        <v-btn class="white--text" xs2 to="/map" flat>Map</v-btn>
        <v-btn class="white--text" xs2 to="/history" flat>History</v-btn>
        <v-btn class="white--text" xs2 to="/ecology" flat>Ecology</v-btn>
        <v-btn class="white--text" xs2 to="/about" flat>Area</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-flex>
      <v-bottom-nav :value="isMobile" active.sync fixed class="primary white--text" height="65px">

        <v-btn small class="white--text resize-btn" to="/">Home</v-btn>
        <v-btn small class="white--text resize-btn" to="/map">Map</v-btn>
        <v-btn small class="white--text resize-btn" to="/history">History</v-btn>
        <v-btn small class="white--text resize-btn" to="/ecology">Ecology</v-btn>
        <v-btn small class="white--text resize-btn" xs2 to="/about" flat>Area
        </v-btn>

      </v-bottom-nav>
    </v-flex>
  </div>
</template>

<script>
  export default {
    name: 'Navbar',
    data: () => ({
      isMobile: false
    }),
    mounted() {
      this.onResize()
      window.addEventListener('resize', this.onResize, {
        passive: true
      })
    },
    beforeDestroy() {
      if (typeof window !== 'undefined') {
        window.removeEventListener('resize', this.onResize, {
          passive: true
        })
      }
    },
    methods: {
      onResize() {
        this.isMobile = window.innerWidth < 960
      }
    }
  }

</script>
<style>
  .bottom-nav .btn {
    min-width: 45px;
  }

</style>
