<template>
  <div id="history">
    <v-container>
      <v-layout>
        <v-flex xs12 >
          <v-card flat >
            <img id="historyPic" src="/static/dock.jpg" />
            <v-card-title primary-title>
              <div>
                <v-card-text class="text-xs-left subhome">
                  Since glacial ice melted away, people have inhabited the lakeshore area in and around, what are now known as, the East and
                  West Twin Rivers. The Neshota (West Twin River) and the Michicot (East Twin River) were the names of two
                  important native Chiefs from this area and until the 1930’s were named accordingly. The native peoples
                  were drawn to this area by the abundance of water, fertility of the soil, and plentiful wildlife. Native
                  people established villages at Shoto, Two Rivers, and Mishicot.
                  <br />
                  <br />In more recent times, the area north of the West Twin was referred to as "Canada" and was the territory
                  of the Potawatomi people under Chief Mishicott or Mechigaud, while south of the river was known as "Mexico"
                  and governed under Chief Waumegasako. Upon the arrival of European immigrants, the area was important in
                  the fur trade and fishing. In 1795, Jaques Vieux established a trading post near Mishicot. In 1831 and
                  1833, treaties ceded the land to the United States. After that, timber was harvested from area forests,
                  which were then converted to farmland. The rivers were dammed in a number of locations and mills established.
                  The fishing village of Two Rivers became a manufacturing center and home to such industries as the wood
                  type and cabinet business established by J.E. Hamilton in 1880. Throughout their watersheds, agriculture
                  continues to be a major land use and industry. Increasingly, recreation and tourism are also important
                  here, as the area looks back to the water which has shaped the region.
                </v-card-text>
                <v-card-actions>
                  <v-btn target="_blank" class="primary" href="http://www.mishicothistoricalmuseum.org/2017/05/potawatomi-chief-mishicot-exhibit.html">More Information</v-btn>
                </v-card-actions>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    name: 'History',
    metaInfo: {
      title: 'History of Two Rivers',
      titleTemplate: '%s ← twinriverwatertrail',
      links: [{
        rel: 'canonical',
        href: 'https://www.twinriverswatertrail.org/ecology'
      }]
    }
  }

</script>

<style>
  #history {
    min-height: 55vh;
  }
  @media only screen and (max-width: 800px) {
    #historyPic {
      max-height: 30vh;
      width: auto;
    }
  }
  #historyPic{
    height:35vw;
    margin: auto;
  }
</style>
