<template>
  <div id="Map">
    <v-container>
      <v-layout>
        <v-flex xs12>
          <div v-if="!isMobile">
            <v-card class="elevation-0 transparent">Hover over the image to zoom in.
              <br/>
              <div id="container">
                <figure class="zoom" v-on:mousemove="zoomMouse">
                  <img alt="River Map" src="/static/big_map.jpg" />
                </figure>
              </div>
              <br/>
              <v-card-actions class="layout justify-center">
                <v-btn class="primary" target="_blank" href="https://baylakerpc.maps.arcgis.com/apps/MapTour/index.html?appid=2db68199c1b142b1b733f2811af984af">More Detailed Map</v-btn>
              </v-card-actions>
            </v-card>
          </div>
          <div v-else>
            <v-card class="elevation-0 transparent">Pinch to zoom on map
              <br/>
              <div id="container">

                <img id="mobileImg" alt="River Map" src="/static/big_map.jpg" />

              </div>
              <br/>
              <v-card-actions class="layout justify-center">
                <v-btn class="primary" target="_blank" href="https://baylakerpc.maps.arcgis.com/apps/MapTour/index.html?appid=2db68199c1b142b1b733f2811af984af">More Detailed Map</v-btn>
              </v-card-actions>
            </v-card>
          </div>
        </v-flex>

      </v-layout>
    </v-container>
  </div>

</template>

<script>
  export default {
    name: 'RiverMap',
    data() {
      return {
        isMobile: false,
      }
    },
    mounted() {
      this.onResize()
      window.addEventListener('resize', this.onResize, {
        passive: true
      })
    },
    beforeDestroy() {
      if (typeof window !== 'undefined') {
        window.removeEventListener('resize', this.onResize, {
          passive: true
        })
      }
    },
    methods: {
      zoomMouse: function (event) {
        var zoomer = event.currentTarget;
        let x = event.offsetX / zoomer.offsetWidth * 100
        let y = event.offsetY / zoomer.offsetHeight * 100
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
      },
      onResize() {
        this.isMobile = window.innerWidth < 960
      }
    },
  }

</script>

<style>
  #Map {
    min-height: 55vh;
  }

  figure {
    background-image: url('/static/big_map.jpg');
  }

  figure.zoom {
    background-position: 50% 50%;
    position: relative;
    max-width: 900px;
    overflow: hidden;
    cursor: zoom-in;
    margin-left: auto;
    margin-right: auto;
  }

  figure.zoom img:hover {
    opacity: 0;
  }

  figure.zoom img {
    transition: opacity .5s;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #mobileImg {
    width: 100%
  }

</style>
