<template>
  <div>
    <v-container>
    <v-card class="elevation-0 transparent ">
      <v-card-title primary-title class="layout justify-center">
        <div class="home2">Donate</div>
      </v-card-title>
      <v-card-text class="text-sm-center subhome">
        The Twin Rivers Water Trail is a community generated project born of a love for the rivers in our communities. The village
        of Mishicot and the City of Two Rivers formed an all-volunteer committee of interested citizens to make the trail
        happen. The Twin Rivers Water Trail was developed with a major grant from Wisconsin Coastal Management and help from
        Bay Lakes Regional planning. Some other grants were also secured including material support from Two Rivers Rotary
        Club to purchase docks, produce signs at the launch points, and build this website.
        <br />
        <br /> Further funding is needed to rent toilet facilities, add additional signs to direct people to the launch points,
        and other amenities required for the trail. Please help the maintenance and further development of the Two Rivers
        Water trail by contributing. Credit card transactions will be to Woodland Dunes Nature Center which administers the
        funds to the Twin River Water Trail.
      </v-card-text>
      <v-card-actions class="layout justify-center">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="U87B7L5MR3FXU">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"
          />
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
      </v-card-actions>
    </v-card>
    </v-container>
    <v-flex xs12 sm4 class="my-3" align-center>


    </v-flex>

    <v-flex xs12>
      <v-container grid-list-xl>
        <v-layout row wrap align-center>
      <v-card-title primary-title class="layout justify-center">
        <div class="home2">Proud Partners</div>
      </v-card-title>
        </v-layout>
                <v-layout row wrap align-center>
          <v-flex xs12 md6>
            <v-card class="elevation-0 transparent">
              <v-card-title primary-title class="layout justify-center">
                <div class="headline text-xs-center">Woodland Dunes</div>
              </v-card-title>
              <img class="logos layout justify-center" src="/static/WoodlandDunes.jpg" alt="Woodland Dunes" />
              <v-card-text>
                Woodland Dunes Nature Center and Preserve contains over 1,500 acres of hardwood & conifer forests, wetlands, and prairies
                located between Two Rivers and Manitowoc Wisconsin with 7 miles of hiking trails to enjoy.
              </v-card-text>
              <v-card-actions class="layout justify-center">
                <v-btn target="_blank" href="http://www.woodlanddunes.org/">Visit Us</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex xs12 md6>
            <v-card class="elevation-0 transparent">

              <v-card-title primary-title class="layout justify-center">
                <div class="headline">Two Rivers Rotary Club</div>
              </v-card-title>
              <img class="logos" src="/static/Rotary_Club.png" alt="Rotary Club of Two Rivers" />
              <v-card-text class="layout justify-center">
                The Rotary Club of Two Rivers was founded Feb 8, 1923. It was the first service club in the city. The club was sponsored
                by the Rotary Club of Manitowoc and is the 1341st club chartered by Rotary International.
              </v-card-text>
              <v-card-actions class="layout justify-center">
                <v-btn target="_blank" href="https://portal.clubrunner.ca/8037">Visit Us</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>

  </div>
</template>

<script>
  export default {
    name: 'Sponsors',
  }

</script>
<style>
  .dtitle {
    font-size: 1.5vw;
    text-align: center;
  }

  .logos {
    height: 10vh;
    max-width: 400px;
    display: inline-block;

  }

</style>
