<template>
  <div id="app">
<Navbar> </Navbar>
    <router-view/>
    <Footer></Footer>
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import Footer from './components/Footer'
export default {
  name: 'App',
  components:{
    Navbar,
    Footer,
  },
  computed: {
     imageHeight () {
       switch (this.$vuetify.breakpoint.name) {
         case 'xs': return '220px'
         case 'sm': return '400px'
         case 'md': return '500px'
         case 'lg': return '600px'
         case 'xl': return '800px'
       }
     }
   }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
</style>
